@model List<Country>

@{
    ViewBag.Title = "Country Section";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Country section</h2>

<a href="/Country/Create"><div class="btn btn-primary">Add</div></a>
<div class="userInfoGrid">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            string color = p.Active ? "table-success" : "table-secondary";
            <tr>
                <td class="">
                    @p.Name
                </td>
                <td class="@color">
                    @p.Active
                </td>
                <td class="">
                    <a href="/Country/Country/@p.Id">Edit</a>
                </td>
            </tr>
        }

        </tbody>
    </table>

</div>